*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*main styling */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a{
    text-decoration: none;
    color: #333;
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}
/* utility*/
.container{
    max-width: 1100px;
    overflow: auto;
    margin: auto;
    padding: 0px 20px;
}
.text-primary{
    color: burlywood;

}
.lead{
    font-size: 20px;
}
.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background: burlywood;
    color: #333;
}
.btn-light{
    background: #f4f4f4;
    color: #333;
}
.bg-dark{
    background: #333;
    color: #fff;
}
.bg-light{
    background: #f4f4f4;
    color: #333;
}
.bg-primary{
    background: burlywood;
    color: #333;
}
.clr{
    clear: both;
}

/*navbar styling */
#navbar{
    background: #333;
    overflow: auto;
}
#navbar a{
    color: aliceblue;
}
#navbar h1{
    float: left;
    margin-top: 20px;
}
#navbar ul{
    list-style: none;
    float: right;
}
#navbar li{
    float: left;
}
#navbar li a{
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar li a:hover,
#navbar li a.current
{
    background: #454;
    color: burlywood;
}
/* showcase */
#showcase{
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    height: 600px;;
}
#showcase .showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;
}
#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.7em;
    
}

#showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.7em;
}
/* Home info */
#home-info{
    height: 400px;
    margin-top: 100px;
}
#home-info .info-img{
    float: left;
    width: 50%;
    background: url(../img/photo-1.jpg) no-repeat;
    height: 100%;
}
#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    padding: 50px 30px;
}
#home-info .info-content p{
    padding-bottom: 30px;
    font-size: 16px;
}

/* features */
.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
    margin-top: 100px;
}
.box i{
    margin-bottom: 10px;
}
/*About info*/

/* footer */
#main-footer{
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
    margin-top: 100px;
}